.NewsLetter{
	width: 500px;
	height: 300px;
	background-color: #111111;
	justify-content: center;
	display: flex;
}
.NewsLetterForm{
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 30px;
	display: flex;
	flex-direction: column;
}

.NewsLetterForm label {
	color:white;
	font-size: 30px;
}

.NewsLetterForm input {
	margin-top: 10px;
	width: 100%;
	height: 50px;
	text-align: center;
}
.NewsLetterForm input::placeholder {

	text-align: center;
}
.XButton{
	width: 30px;
	height: 30px;
	background-image: url("../../assets/images/icons/xIcon.png");
	position: absolute;
	right: -35px;
	top:10px;
	color: white;
	cursor: pointer;
}