.Button {
    background-color: #962e40;
    border: none;
    width: 200px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 20px 0px;
    font-weight: bold;
    float: right;
    transition: background-color 0.5s ease-in-out;
}

.Button:hover{
    background-color: #b3344a;
}