.StreamerProfile{
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
margin-top: 50px;
}
.container{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
background-color: #330136;
}


@media (min-width: 576px) {  }


@media (min-width: 768px) { 
	.StreamerProfile{
		margin-top: 150px;
	}
 }


@media (min-width: 992px) {  }


@media (min-width: 1200px) { 
  .StreamerProfile{
    width: 1200px;
   }
}
